In [7]:
# pip install peewee

In [8]:
from peewee import *

# Создаем соединение с нашей базой данных
# В нашем примере у нас это просто файл базы
conn = SqliteDatabase('Chinook_Sqlite.sqlite')

# ТУТ БУДЕТ КОД НАШИХ МОДЕЛЕЙ

# Создаем курсор - специальный объект для запросов и получения данных с базы
cursor = conn.cursor()

# ТУТ БУДЕТ НАШ КОД РАБОТЫ С БАЗОЙ ДАННЫХ

# Не забываем закрыть соединение с базой данных
# conn.close()

In [9]:
cursor.execute("SELECT Name FROM Artist ORDER BY Name LIMIT 3")

In [10]:
results = cursor.fetchall()

In [11]:
results

[('A Cor Do Som',), ('AC/DC',), ('Aaron Copland & London Symphony Orchestra',)]

In [12]:
# cursor.execute("insert into Artist values (Null, 'A Aagrh!') ")

In [13]:
class BaseModel(Model):
    class Meta:
        database = conn  # соединение с базой, из шаблона выше

# Определяем модель исполнителя
class Artist(BaseModel):
    artist_id = AutoField(column_name='ArtistId')
    name = TextField(column_name='Name', null=True)

    class Meta:
        table_name = 'Artist'

In [14]:
artist = Artist.get(Artist.artist_id == 1)

In [15]:
artist

In [16]:
print('artist: ', artist.artist_id, artist.name)

artist:  1 AC/DC

In [17]:
query =  Artist.select().where(Artist.artist_id < 10).limit(5).order_by(Artist.artist_id.desc())

print(query)

SELECT "t1"."ArtistId", "t1"."Name" FROM "Artist" AS "t1" WHERE ("t1"."ArtistId" < 10) ORDER BY "t1"."ArtistId" DESC LIMIT 5

In [18]:
r = query.dicts().execute()

In [19]:
for artist in r:
    print('artist: ', artist)

artist:  {'artist_id': 9, 'name': 'BackBeat'}
artist:  {'artist_id': 8, 'name': 'Audioslave'}
artist:  {'artist_id': 7, 'name': 'Apocalyptica'}
artist:  {'artist_id': 6, 'name': 'Antônio Carlos Jobim'}
artist:  {'artist_id': 5, 'name': 'Alice In Chains'}

In [22]:
from peewee import *

# Создаем соединение с нашей базой данных
# В нашем примере у нас это просто файл базы
conn = SqliteDatabase('course_project.sqlite')

# ТУТ БУДЕТ КОД НАШИХ МОДЕЛЕЙ

# Создаем курсор - специальный объект для запросов и получения данных с базы
cursor = conn.cursor()

# ТУТ БУДЕТ НАШ КОД РАБОТЫ С БАЗОЙ ДАННЫХ

# Не забываем закрыть соединение с базой данных
# conn.close()

In [23]:
cursor.execute('''CREATE TABLE playlist (
    id int,
    playlist_name text
);''')

OperationalError: table playlist already exists

In [24]:
cursor.execute('''CREATE TABLE playlist_song (
    track_number int,
    track_id,
    playlist_id int
);''')

OperationalError: table playlist_song already exists

In [25]:
cursor.execute('''CREATE TABLE music (
    id int,
    cong_name text,
    artist text,
    publish_year text,
    album text,
    gener text,
    path_in_pc text
);''')

OperationalError: table music already exists